{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Mise à jour d'un événement{% endblock %}

{% block body %}

<h2>Modifier un événement : </h2>

{{ include('event/_form.html.twig') }}

<a href="{{ path('event') }}">Retour à la liste des événements</a>

{% endblock %}
