{% extends 'base.html.twig' %}

{% block title %}Création d'un événement{% endblock %}

{% block body %}

{# TODO: mettre en forme ce template #}

    <h2>Créez un nouvel événement</h2>

    {{ include('event/_form.html.twig') }}

    <a href="{{ path('calendar') }}"><p>Retour à la liste des events</p></a>

{% endblock %}
