{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>Page Calendrier</h1>
<a href="{{ path('homepage') }}"><p>Retour à l'accueil</p></a>

{% for event in events %}

<div class="card">
    <div class="card-body">
        {{ event.title }}  
    </div>
</div>

{% endfor %}

{% endblock %}