{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>Page Calendrier</h1>
<a href="{{ path('homepage') }}"><p>Retour à l'accueil</p></a>

{% for event in events %}

<div class="card">
    <div class="card-body">
        {{ event.title|json_encode }}  
    </div>
</div>

{% endfor %}

{# 
<pre>
    {{ events|json_encode(constant('JSON_FORCE_OBJECT')) }}
</pre> #}

{% endblock %}