{% extends 'base.html.twig' %}

{% block title %}Hello TribeController!{% endblock %}

{% block body %}

<p>Ma tribu ! {{ tribe.name }}</p>

<div>Il y a : 
    <ul>
    {% for user in tribe.users %}
        <li>{{ user }}</li>
    {% endfor %}
    </ul>
</div>

<p>Je peux inviter de nouveaux membres en cliquant sur <a href="{{ path('send_invitation') }}" class="btn btn-outline-warning btn-lg" role="button">ce bouton</a></p>

{% endblock %}
