.App header {
  display: -webkit-flex;
  display: flex;
  height: 7.68em;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--background-dark);
  
}

.App .PageEvent header {
  display: -webkit-flex;
  display: flex;
  padding: 0em 1em;
  padding-top: 1.15em;
  position: fixed;
  top: 0;
  height: 4.8em;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  background-color: var(--background-dark);
  width: 100%;
}

.headerRow {
  display: -webkit-flex;
  display: flex;
  height: 3.85em;
  padding-top: 0.8em;
  padding-left: 1.7em;
  padding-right: 1.7em;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  background-color: var(--border-dark);
  width: 100%;
}

.headerLeft {
  display: flex; 
  width: 100%;
  align-items: center;
  flex: 2; 
}

.headerRight {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  left: -1.7em;
  top: 1.15em;
}

//// RIGHT /////

header #logo {
  font-size: 130%;
  text-align: center;
  color: var(--text-dark);
  line-height: 1;
  margin-top: 0.45em;
  margin-right: 4em;
  font-family: 'Bold', sans-serif;
}

header #logo .icon {
  padding-right: .25em;
}


/// barre de recherche /// 
.searchBar {
  position: fixed;
  top: 0.7em;
  left: 15em;
  z-index: 400;
  border-radius: 1em;
  border: 1px solid var(--border-dark);
  background-color: var(--background-light); 

}

.searchBar .ui.input > input {
  padding: 0.4em 0.7em;
  width: 25em;
  display: flex; 
  flex-direction: column; 
  border-radius: 0.8em;
  color: var(--text-light);
  z-index:300;
  background: none !important;
  border: none !important;
  font-family: 'Bold';
  padding-top: 0.7em
}

.searchBar .iconeNews {
  display: flex;
  justify-content: center;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  margin-left: 1.3em;
}

.searchBar .results {
  padding-top: 0.2em;
  border-radius: 1em;
  z-index:250;
}

.searchBar .results .eventFind {
  display: flex;
  color: var(--text-light);
  padding: 0.2em 0.7em;
}

.searchBar .results hr {
  background-color: var(--border-light);
  border: 0;
  height: 1px;
  margin: 0.5em;
}
.searchBar .results hr:last-child {
  height: 0px;
}

.searchBar .results .month {
  margin-right: 0.4em;
}

//// LEFT /////

.headerRight .username {
  margin-right: 2em;
  margin-bottom: 0.2em;
  font-size: 0.9rem;
  color: var(--text-dark);
}

.headerRight .tribeName {
  font-size: 130%;
}

.headerRight .profilePicture {
  width: 1.7em; 
  height: 1.7em; 
  border-radius: 1.7em;
  border: 1px solid var(--border-light); 
}

.ui.buttons .or:before {
  margin-top: -1.26em;
  margin-left: -1em;
  width: 2.19em;
  height: 2.19em;
  border-radius: 2.19em;
  border: 2px solid var(--border-light);
}

.headerRight .ui.buttons .groupButton {
  border: 1px solid var(--border-light);
  padding-left: 2.4em;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 1em;
  height: 3.2em;
  color: var(--text-light) !important;
  background-color: var(--background-light) !important;
}
.ui.basic.black.button, .ui.basic.black.buttons .button {
  box-shadow: none !important;
}

