.sidebar {
  position: fixed; 
  top: 22em;
  right: 1.5em;
  width: 14.3em;
  z-index: 200;
}

.sidebar .ui.button {
  position: fixed;
  top: 7em;
  right: 1.7em;
  border-radius: 6em;
  display: flex; 
  align-items: center;
  padding: 0.5em 1.7em;
}

.sidebar .icon {
  font-size: 190%;
  padding-bottom: 0.9em;
}

.sidebar .title {
  padding-bottom: 0.25em;
  margin-bottom: 0.9em;
  border-bottom: 1px solid var(--border-color);
  margin-top: 1.5em;
}

.sidebar .field {
  margin-bottom: 0.35em !important;
}

/// WITH EVENT OPEN /// 

.sidebar.withEvent {
  display: none; 
}
