/* HOMEPAGE */
body {
  height: 100%;
}

.homepage_container {
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage_content {
  padding-bottom: 12em; /* to center, 8em = homepage_content size + footer size */
}

.btn-login {
  margin-top: 2em;
}

/* LOGIN TEMPLATE */
.login_container {
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 12em;
}

.login_container form input {
  background-color: lightyellow;
  border: none;
}

/* SINGUP TEMPLATE */
.signup_container {
  width: 50%;
  margin: auto;
  padding-top: 2em;
}


/* NAV */
.fa-sun {
  color: #FFC107;
}

.btn_connexion {
  border: none;
}


/* FOOTER */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1em 0 1em 0;
    background-color: black;
    color: grey;
    text-align: center;
  }

.footer a {
  text-decoration: none;
  color: grey;
}

.footer a:hover {
  color: white;
}
