/* HOMEPAGE */
body {
  height: 100%;
  background-color: #FFB400;
  color: #FFFDD8;
  overflow-y: scroll;
}

.homepage_container {
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage_content {
  padding-bottom: 12em; /* to center, 8em = homepage_content size + footer size */
}

.btn-login {
  margin-top: 2em;
}

/* LOGIN TEMPLATE */
.login_container {
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 12em;
}

.login_container form input {
  background-color: lightyellow;
  border: none;
}

.btn_connexion {
  color: #FFFDD8;
}

.btn_connexion:hover {
  color: #FFFDD8;
}

/* SINGUP TEMPLATE */
.signup_container {
  width: 50%;
  margin: auto;
  padding-top: 2em;
}

.signup_container .btn {
  color: #FFFDD8;
  border: none;
}

/* INVITATION TEMPLATE */
.invitation_container {
  width: 50%;
  margin: auto;
  line-height: 2em;
  height: 80%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* PROFILE TEMPLATE */
.profile_container {
  width: 100%;
}

/* in profile templates */
.fa_logout:hover, .fa_profile:hover {
  color: #FFFDD8;
}

/* NAV */
.nav_container {
  position:fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 0 1em 0 1em;
}

.fa-sun {
  color: #FFFDD8;
}

.logo_content {
  font-weight: bold;
}

.btn_signup {
  background-color: #E3A000;
}

.nav_container .btn {
  color: #FFFDD8;
}

/**** TRIBE TEMPLATE ****/
.tribe-template_container {
  margin-top: 8em;
}

.fa-invite:hover {
  color: #FFFDD8;
}

.tag_badge {
  font-size: 1em;
  margin: 0.5em 0.5em 0 0;
}

.fa-plus-square {
  width: 100%;
}

/****   ALL BUTTONS   ****/
.btn {
  border: 2px solid #FFFDD8;
}

.btn_connexion, .btn_signup {
  border: none;
}

.fas_container {
  margin-top: 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* FOOTER */
.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1em 0 1em 0;
    background-color: black;
    color: grey;
    text-align: center;
  }

.footer a {
  text-decoration: none;
  color: grey;
}

.footer a:hover {
  color: white;
}

/**** EVENT DETAILED TEMPLATE ****/
.event-template_container {
  width: 100%;
  margin-top: 8em;
  color: #fcc53b;
}

.event-calendar_container {
  /*border: 1px solid #FFFDD8;*/
  background-color: #fff5d7;
  border-radius: 10px 0 0 0;
  padding: 1em;
  margin-right: 2em;
}

.event-detailed_container {
  /*border: 1px solid #FFFDD8;*/
  background-color: #fff5d7;
  border-radius: 0 10px 0 0;
  padding: 0 1em 1em 1em;
}

.event-detailed_section {
  border-bottom: 1px solid #e6b523;
  padding: 1em 0 1em 0;
}

.event-date_day {
  font-size: 1.5em;
}

.event-date_number {
  font-size: 3.5em;
}

.event-date_month {
  font-size: 2em;
}

.event-comment_section {
  padding-top: 1em;
}