body {
    overflow-y: scroll;
}

/*** HEADER ***/
.logo_content {
    background-image: url('../media/utils/logo2.png');
    background-size: cover;
    width: 193px;
    height: 33px;
}

.nav_container {
    background-color: #F9B233;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 1em 1.7em 1em 1.7em;
    height: 3.85em;
}

.right_nav {
    display: flex;
    justify-content: flex-end;
}

.right_nav .btn_frontline:hover {
    border-color: #F9B233;
    background-color: #FCC53B;
}


/*** /header ***/

/*** HOMEPAGE ***/
.homepage_container {
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

    /** homepage - left section **/
    .homepage_container .intro {
        background-image: url('../media/utils/background3.png');
        background-size:cover;  
        width: 50%;
        height: 100%;
        padding: 0 2em; 
        padding-top: 12em;
        color: #FFFDD8;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .homepage-intro_content {
        width: 100%;
    }

    .homepage_catchphrase {
        font-size: 4em;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5em;
    }

    .homepage_container .intro .argument_container {
        display: flex; 
        flex-direction: column; 
        color: #FFFDD8;
        padding: 0 1.5em; 
    }

    .homepage_container .intro .argument_content {
        display: flex; 
        font-size: 1.4em;
        align-items: center;
        padding-bottom: 1.8em;
    }

    .homepage_container .intro .argument_icon {
        color: #FFFDD8;
        font-size: 3em;
        margin-right: 0.5em;
        width: 30%;
        display: flex;
        justify-content: center;
    }

    .argument_sentence {
        font-weight: bold;
        width: 65%;
        text-align: left; 
    }

    /** homepage - right section **/
    .homepage_container .connexion {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        color: #FFFDD8;
    }

    .connected_username {
        font-weight: bold;
        font-size: 3em;
    }

    .homepage_container .connexion .connexion_button .btn {
        /* text-transform: uppercase; */
        font-weight: bold;
        width: 50%;
        /* letter-spacing: 0.5em; */
    }

/*** /homepage ***/

/*** LOGIN / SIGNUP ***/

.login_container {
    /* background-image: url('../media/utils/background3.png');
    background-size: cover; */
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10em;
    color: #FFFDD8;
}

.login_container .form-title {
    margin-bottom: 1em;
}

.signup_container {
    width: 35%;
    margin: auto;
    padding-top: 8em;
    height: 100%;
    color: #FFFDD8;
}  

/*** /login ***/

/*** PROFILE ***/

.profile_container {
    width: 100%;
    height: 100%;
    /* margin: auto; */
    /* padding-top: 12em; */
    display: flex;
    color: #FFFDD8;
}

.profile-content_information {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-content_information .user_avatar-section {
    display: flex;
    width: 100%;
    height: 12em;
    justify-content: center;
    margin-bottom: 1.2em;
    margin-left: 3em;
}
.profile-content_information .user_avatar-section .user_avatar-content {
    position: relative; 
}

.profile-content_information .user_avatar-section .user_avatar {
    /* border-radius: 50%; */
    width: auto;
    height: 12em; 
}

.profile-content_information .user_avatar-section .user_avatar-edit {
    position: relative;
    top: 0;
    right: 2.6em;
}

.profile-content_information .user_avatar-section .user_avatar-link {
    color:  rgba(255, 253, 216, 0.466); 
    font-size: 3em;
}

.profile-content_information .user_avatar-section .user_avatar-link:hover {
    color: #FFFDD8;
}

.profile-content_information .user_username {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1em;
}

.user_event-action {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin-block-end: 3em;
}

.profile-content_information .user_identity {
    font-size: 2em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.profile-content_tribe {
    background-image: url('../media/utils/background3.png');
    background-size:cover;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-content_tribe .tribe_null{
    font-size: 3em;
    text-align: center;
}

.profile-content_tribe .tribe_name {
    font-weight: bold;
    font-size: 3.5em;
}

.profile-content_tribe .tribe_name span {
    font-size: 1.5em;
}

.profile-content_tribe .tribe_icon {
    font-size: 6em;
}

.profile-content_tribe .tribe_btn .btn {
    margin-top: 2em;
    width: 100%;
}

/*** /profile ***/


/*** PROFILE EDITION ***/

.profile-edit_container {
    width: 35%;
    margin: auto;
    padding-top: 8em;
    height: 100%;
    color: #FFFDD8;

}

/*** /profile edition ***/


/*** AVATAR EDITION ***/

.avatar-edit_container {
    width: 50%;
    margin: auto;
    line-height: 2em;
    height: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFDD8;
}

/*** /avatar_edition ***/


/*** TRIBE INDEX ***/
.tribe-template_container {
    padding-top: 8em;
    width: 100%;
    margin: auto;
    color: #FFFDD8;
}

.tribe-template_container .tribe_name {
    font-size: 4em;
    font-weight: bold;
    padding-right: 4em;
}

.tribe_details {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.tribe_tag_badge {
    font-size: 0.9em;
    color: #FFFDD8;
    border: 1px solid #FFFDD8;
    background-color: #F9B233;
    margin: 0.1em 0.1em;
}

.tag_section {
    padding-top: 1.2em;
    height: auto;
    border: 1px solid #FFFDD8;
    border-radius: 0.5em;
    width: 15%;
    margin-top: 2.5em;
}

.tag_section h3 {
    font-size: 1.6em;
    border: 1px solid #FFFDD8;
    border-radius: 10px;
    width: 5em; 
    margin: auto;
    background-color: #F9B233;
    padding: 0.3em 0 0.2em 0;
    margin-bottom: 0.5em;
}

.tag_section .tag_information {
    width: 80%;
    margin: auto;
    margin-bottom: 0.5em;
    font-size: 0.9em;
}

.tag_section form input {
    width: 80%;
    margin: auto;
    font-size: 0.8em;
}

.tag_section form small {
    width: 80%;
    margin: auto;
    font-size: 0.8em;
}

.fa-plus-square {
    width: 100%;
}
.member_section .invite_btn {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.member_list {
    display: flex;
    flex-wrap: wrap;
}

.member_card {
    display: flex;
    flex-direction: column;
    width: 23%;
    margin: 0 1em 1em 0;
    height: 8em;
}

.member_avatar {
    width: 100%;
    text-align: center;
    margin-bottom: 0.6em;
}

.empty-tags {
    padding: 1.5em;
}

.member_name {
    font-weight: bold;
    text-align: center;
}

.member_section {
    width: 70%;
    margin-top: 2.5em;
}

.avatar_square {
    border-radius: 50%;
    width: 6em;
    height: 6em;
}

/*** /tribe_index ***/


/*** TRIBE NEW ***/

/* see section "INVITATION TEMPLATE" same css */

/*** /tribe_new ***/


/*** INVITATION TEMPLATE ***/

.invitation_container {
    width: 50%;
    margin: auto;
    line-height: 2em;
    height: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFDD8;
}  

/*** /invitation_template ***/


/*** EVENT NEW ***/

.event-form_container {
    width: 35%;
    margin: auto;
    padding-top: 8em;
    height: 100%;
    color: #FFFDD8;
}

/*** /event_new ***/


/*** EVENT SHOW ***/

.event-template_container {
    width: 100%;
    height: 100%;
    padding-top: 7em;
    margin-left: 5em;
    color: #fcc53b;
    margin-bottom: 10em;
}
 
.event-calendar_container {
    background-color: #fff5d7;
    border-radius: 10px 0 0 0;
    padding: 1em;
    margin-right: 1em;
}
  
.event-detailed_container {
    background-color: #fff5d7;
    border-radius: 0 10px 0 0;
    padding: 0 1em 1em 1em;
}

.calendar-icon {
    font-size: 1000%;
    display: flex;
    justify-content: center;
    padding-top: 0;
}

.form-check {
    display: flex;
}

.event-calendar_container {
    display: flex;
    flex-direction: column;
}

.event-tag_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.event_participant {
    margin-bottom: 3em;
}


.event-tag_container .event_participant h3 {
    font-size: 1.5em;
}

.event-tag_container .event_participant .tag_badge {
    margin: 0.8em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.9em;
    color: #FFFDD8;
    border: 1px solid #FFFDD8;
    background-color: #F9B233;
    margin: 0.1em 0.1em;
}  
  
  .event-detailed_section {
    border-bottom: 1px solid #e6b523;
    padding: 1em;
  }
  
  .event-date_day {
    font-size: 1.5em;
  }
  
  .event-date_number {
    font-size: 3.5em;
  }
  
  .event-date_month {
    font-size: 2em;
  }
  
  .event-title {
    text-transform: uppercase;
  }

  .edit-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3em;      
    margin-top : 1.5em;
  }
  
  .event-comment_section {
    padding-top: 1em;
  }
    
  .comment-heading {
    margin-top: 1.5em;
    margin-bottom: 1.2em;      
  }

  .comment_content {
    background-color: white;
    padding: 1em 0 1em 1em;
    margin-left: 1em;
    margin-right: 10em;
    margin-bottom: 2em;    
    
  }

.comment-form {
    margin-left: 1em;
    margin-right: 10em;
    margin-top: 2em;
    margin-bottom: 2em;                    
}  

/*** /calendar/event/{event} ***/


/*** MY EVENTS ***/

.myevents_container {
    width: 70%;
    height: auto;
    padding-top: 8em;
    padding-bottom: 5em;
    margin: auto;
    color: #FFFDD8;
  }
  
.myevents_container .event-detailed_container {
    color: #E3A000;
    margin-bottom: 2em;
}

/*** /my_events  ***/


/*** FOOTER ***/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1em 0 1em 0;
    background-color: #F9B233;
    color: #FFFDD8;
    text-align: center;
  }

.footer a {
  text-decoration: none;
  color: #FFFDD8;
}

.footer a:hover {
  color: white;
  border-bottom: 1px solid white;
}

/*** /footer ***/


/*** CONTACT US ***/

.contactpage_container {
    width: 70%;
    height: 100%;
    margin: auto;
    padding-top: 12em;
    color: #FFFDD8;
}
  
.contactpage_content {
    /* background-color: #fff5d7; */
    color: #fcc53b;
    padding: 3em;
}
  
.card-developer {
    width: 30%;
    border: none;
}
  
.card-developer .card-title {
    text-transform: uppercase;
}

.card-header {
    background-color: #FCC53B;
    border: none;
}

.card-img-top {
    border: 6px solid orange;
    border-radius: 50%;
    width: 100%;
    height: auto; 
}

.card-body {
    border: 1px solid orange;
}

/*** /contact-us***/


/*** LEGAL MENTION ***/

.legalmentionpage_container {
    width: 50%;
    height: auto;
    margin: auto;
    padding-top: 12em;
}

.legalmentionpage_container h1 {
    color: #FFFDD8;
    margin-bottom: 1em;
}
 
.legal_content {
    background-color: #fff5d7;
    color: #fcc53b;
    padding: 3em;
}
  
.legal_content div {
    padding-bottom: 2em;
    font-size: 1.5em;
}
  
.legalmentionpage_container h1 {
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 0.1em;
}
  
.legal_content h2 {
    font-size: 1.2em;
}

/*** /legal_mention ***/


/*** ERROR 404 CUSTOM ***/

#custom-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;
    color: #FFFDD8;
}
  
#custom-404 h1 {
    font-size: 5em;
}
  
#custom-404 .fas {
    font-size: 6em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    color: #FFFDD8;
}

/*** /error_404 ***/


/*** COMPONENTS ***/

.btn_backline {
    color: #FFFDD8;
    border-color: #FFFDD8;
}

.btn_frontline {
    color: #FFFDD8;
    background-color: #F9B233;
}

.btn_backline:hover, .btn_frontline:hover {
    color: #FFFDD8;
}

.btn_backline:hover {
    background-color: #F9B233;
}

.btn_frontline:hover {
    border-color: #FFFDD8;
    background-color: #F9B233;
}

form input {
    background-color: #FFFDD8;
    border: none;
}

form input:valid {
    background-color: #FFFDD8;
}

.flash-message {
    width: 50%;
    display: flex;
    margin: auto;
    margin-bottom: 3em;
}

.alert-info {
    background-color: #FFFDD8;
    color: #F9B233;
    border: 1px solid #F9B233;
}

/*** /components ***/