        <footer class="footer">
            <div class="container">
                    {{ '©'|raw }} 2019 - <a href="{{ path('homepage') }}">Yellow Tribe</a> |
                    <a href="{{ path('legal_mention') }}">Mentions légales</a>    | 
                    <a href="{{ path('contact_us') }}">Nous contacter</a>   |
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
            </div>
        </footer>