    <div class="d-flex justify-content-end pt-2">
        <p class="pl-2"><a href="{{ path('app_login') }}" class="btn btn-outline-warning btn-lg" role="button">Connexion</a></p>

        <p class="pl-2"><a href="{{ path('app_signup') }}" class="btn btn-outline-warning btn-lg" role="button">Inscription</a></p>
    </div>