<div class="pt-2">
    <div class="float-left text-center"><i class="fas fa-sun fa-4x"></i><p class="logo_content">Yellow Tribe</p></div>

    <div class="d-flex justify-content-end">

        <p class="pl-2"><a href="{{ path('app_login') }}" class="btn btn-outline-warning btn-lg btn_connexion" role="button">Connexion</a></p>

        <p class="pl-2"><a href="{{ path('app_signup') }}" class="btn btn-warning btn-lg" role="button">Inscription</a></p>
    </div>
</div>