{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}



{% block header %}
{% endblock %}

{% block body %}
<div class="container homepage_container text-center">
    <div>
            <h2>Slogan sur la famille connectée</h2>
            <h4>et sa baseline sympa</h4>

            <a href="{{ path('app_login') }}" class="btn btn-primary btn-lg" role="button">Me connecter</a>

            {# <a href="{{ path('signup') }}">Inscription</a> #}
    </div>
</div>

{% endblock %}

