{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}



{% block header %}

    {% include ('_nav.html.twig') %}

{% endblock %}

{% block body %}
<div class="homepage_container text-center">
    <div class="homepage_content">
            <h1 class="display-1 logo">Yellow Tribe</h1>
            <h2 class="display-4">Restez connecté avec votre tribu</h2>

    </div>
</div>


{% include ('_footer.html.twig') %}


{% endblock %}

