{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}



{% block header %}
{% endblock %}

{% block body %}
<h1>Hello le projet!</h1>

<nav>
    <ul>
        <a href="{{ path('profile') }}"><li>Page profil</li></a>

        {# <a href="{{ path('signup') }}"><li>Inscription</li></a> #}
    </ul>
</nav>
{% endblock %}
