{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}



{% block header %}

{% include ('_nav.html.twig') %}

{% endblock %}

{% block body %}
    <div class="homepage_container text-center">
        <div class="intro">
            <div class="homepage_content">
                <h2 class="display-4">Restez<br/>connecté avec <br/>votre tribu</h2>
                <div class="fas_container">
                    <div class=" row argument">
                        <i class="col-2 fas fa-users fa-10x"></i>
                        <div class="col-10"> Créez votre propre Tribu </div>
                    </div>
                    <div class=" row argument">
                        <i class="col-2 fas fa-calendar-check fa-10x"></i>
                         <div class="col-10"> Organisez des événements ensemble </div>
                    </div>
                    <div class="row argument">
                        <i class="col-2 fas fa-map-marker-alt fa-10x"></i>
                        <div class="col-10"> Partagez des souvenirs </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="connexion">
            <p class="pl-2"><a href="{{ path('app_login') }}" class="btn btn-outline-warning btn-lg btn_connexion" role="button">Connexion</a></p>
            <p class="pl-2"><a href="{{ path('app_signup') }}" class="btn btn-warning btn-lg btn_signup" role="button">Inscription</a></p>
        </div>
    </div>

{% include ('_footer.html.twig') %}


{% endblock %}

