{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
<h1>Mentions légales</h1>
{% endblock %}

{% block body %}

<a href="{{ path('homepage') }}"><p>Retour à l'accueil</p></a>
{% endblock %}
