
/// PARTIE LARGE /// 

.agendaEtEvent {
  display: flex; 

}

.PageEvent .main {
  width: 100%;
}

.PageEvent .calendar {
  width: 30%;
}

.event .close {
  position: absolute; 
  top: 0.45em;
  right: 0.45em;
}
.event .close.icon {
  font-size: 183%;
  margin:0;
}


/// PARTI EVENT /// 

.event {
  position: fixed;
  top: 7.75em;
  right: 2em;
  padding: 1.5em 2em;
  float: right;
  width: 38%;
  max-width: 80em;
  border: 1px solid var(--border-light);
  background-color: var(--background-light);
  border-top-right-radius: 1em; 
}
.event .titlePart {
  display: flex; 
}

  .event .titleDate {
    line-height: 1.4;
    margin-right: 2em; 
    margin-top: 0.2em;
  }

  .event .title{
    display: flex; 
    flex-direction: column; 
  }
  /// Titrage + baseline /// 
    .event .title .mainTitle {
      text-transform: uppercase;
      font-size: 160%;
      font-family: 'Bold';
      letter-spacing: 0.15px;
      line-height: 1.22;
    }
    .event .title .baseTitle {
      display: flex; 
      font-size: 70%; 
    }
      .event .title .baseTitle span {
        font-family: 'Bold'; 
      }
      .event .title .baseTitle .cercle {
        width: 1em;
        height: 1em;
        border-radius: 1em;
        margin: 0em 0.6em; 
      }
  /// Date à coté du titre  /// 
    .event .titleDate .day{
      text-transform: capitalize;
    }

    .event .titleDate .number {
      font-size: 200%;
      font-family: 'Bold';
      line-height: 1.1;
    }

    .event .titleDate .month{
      text-transform: capitalize;
      font-family: 'Bold';
    }
  
  /// Info pratique  /// 

  .event .icon {
    margin-right : 0.3em;
    font-size: 139%;
    margin-bottom: 0.2em;
  }
  .event .dates {
    line-height: 1.05;
  }
  .event .location {
    margin-top: 0.6em; 
  }

  /// Boutton // 

  .event .bouton {
    background-color: var(--background-dark); 
    color: var(--text-dark);
    border-radius: 0.5em; 
    padding: 0.3em 0.5em 0.3em 1.2em; 
    display: inline; 
    float: right; 
  }
  .event .bouton .icon {
    font-size: 100%; 
  }


hr {
  margin: 1.5em 0em 1em 0;
  background-color: var(--border-light);	
  border: 0;
  height:1px;
}


