{# Customized 404

    To preview : http://127.0.0.1:8001/_error/404
#}

{% extends 'base.html.twig' %}

{% block title %}Page 404{% endblock %}

{% block stylesheets %}

    {% include ('_bootstrap.html.twig') %}
    
{% endblock %}

{% block header %}

{% include "_nav.html.twig" %}

{% endblock %}

{% block body %}
    <div id="custom-404">

        <h1>
            Erreur 404 : cette page n'existe pas 
        </h1>

        <div >
            <i class="fas fa-meh-blank"></i>
            <i class="fas fa-surprise"></i>
            <i class="fas fa-sad-tear"></i> 
        </div>
        
    </div>

{% endblock %}