{# Customized 404

    To preview : http://127.0.0.1:8001/_error/404
#}

{% extends 'base.html.twig' %}


{% block body %}
    <div id="custom-404">

        <h1>
            Cette page n'existe pas 
        </h1>

        <div class="d-flex justify-content-center">
            <i class="fas fa-meh-blank"></i>
            <i class="fas fa-surprise"></i>
            <i class="fas fa-sad-tear"></i> 
        </div>

        <a href="{{ path('calendar') }}"><button class="btn">Retour au calendrier</button></a>

    </div>

{% endblock %}