/* FONT IMPORTS */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

:root {
  --main-color: #202122;
  --text-dark: #fef7e1;
  --text-light-dark: #fed661;
  --text-light: #fcc53b;
  --text-light-light: #fff5d7;
  --background-light: #fff5d7;
  --background-dark: #fcc53b;
  --border-dark: #e6b523;
  --border-light: #ffd861;
  --color-ultraLight-light: 
}


/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  margin:0;
  background-color: var(--background-dark);
  
}

#root {
    font-family: 'Reg', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-light);
    position: relative;
}

nav {
  display: block;
  position: fixed;
  top: 5em;
  left: 1.7em;
}

nav .item {
  padding: 0.73em 2.5em !important;
}

.navigation .item {
  text-transform: capitalize;
  font-size: 110%;
  font-family: 'Reg';
  background: 0 0;
  border-bottom: none;
  border-radius: 1.28571rem 1.28571rem 0 0 !important;
  border-left: 1px solid var(--border-light);
  border-right: 1px solid var(--border-light);
  border-top: 2px solid var(--border-light);
  color: var(--text-light);
  background-color:var(--background-light);
  font-weight: 400;
  padding: 0.73em 2.5em !important;
}

.main {
  margin: 0 auto;
  margin-top: 6em;
  margin-left: 1.7em;
  float: left;
  width: 75%;
  transition: width .2s ease; 
}
.main.withEvent {
  width: 57%;
  transition: width .2s ease; 
}

.navigation {
  margin: 0 auto;
  margin-top: 7em;
  float: left;
  width: 80%;
  max-width: 80em;
}

/// NAV ////
.ui.tabular.menu {
  border-bottom: none;
}

.ui.tabular.menu .item {
  padding: 0 2.5em;
  font-size: 110%;
  font-family: 'Reg';
  color: var(--text-dark);
}
.ui.tabular.menu .active.item {
  border-radius: 1.28571rem 1.28571rem 0 0 !important;
  background-color: var(--background-light);
  border-color: var(--background-light);
  color: var(--text-light);
}

/// circulation type calendrier et periode /// 
.navigation .type.row {
  position: fixed;
  display: flex; 
  justify-content: space-around;
  left: 3em;
  bottom: 5em;
  width: 17.3em;
  padding: 0.4em 1em !important;
  font-size: 100% !important;
  z-index: 200;
  border-radius: 1em;
  background: var(--background-light);
  border: 2px solid var(--background-dark);
  color: var(--text-light);
}

.navigation .header {
  position: fixed;
  display: flex; 
  justify-content: space-around;
  left: 3em;
  bottom: 2em;
  width: 17.3em;
  padding: 0.4em 1em !important;
  font-size: 100% !important;
  -webkit-align-items: center;
  align-items: center;
  z-index: 200;
  border-radius: 1em;
  background: var(--background-light);
  border: 2px solid var(--background-dark);
  border-bottom: 2px solid var(--background-dark) !important;
  color: var(--text-light);
}
.navigation .icon:last-of-type {
  margin: 0 !important; 
}
.header .col-start, 
.header .col-end {
  flex-grow: 0;
}
.header .col-center {
  flex-grow: 4;
}

.type .col-start, 
.header .col-end {
  flex-grow: 0;
}
.type .col-center {
  flex-grow: 4;
}

.navigation .header,
.navigation .type {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 0.5em 0;
  border-bottom: 1px solid var(--border-color);
}
  
.navigation .header .icon,
.navigation .type .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.navigation .header .icon:hover,
.navigation .type .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.navigation .header .icon:first-of-type
.navigation .type .icon:first-of-type  {
  margin-left: 1em;
}

.navigation .header .icon:last-of-type,
.navigation .type .icon:last-of-type {
  margin-right: 1em;
}

/// bouton ajouter un event

.modalEvent .ui.button {
  position: fixed;
  top: 4.375em;
  right: 1.3em;
  border-radius: 0.8em;
  border: 0.18em solid var(--text-dark);
  background-color: var(--background-dark);
  color: var(--text-dark);
  display: flex; 
  align-items: center;
  padding: 0.05em 0.8em;
}
.modalEvent .ui.button .addEvent{
  font-size: 110%;
}

.modalEvent .icon {
  font-size: 190%;
  padding-bottom: 0.05em;
  padding-right: 0.2em;
}

@media screen and (min-width: 1000px) {
  
  .navigation .type.row {
    left: 24.5em;
    top: 5em;
    bottom: inherit;
  }
  .navigation .header {
    left: 42em;
    top: 5em;
    bottom: inherit;
  }
  .event {
    width: 37.5%;
  }
}

@media screen and (min-width: 1550px) {
  .main {
    margin-left: 7.7em;
    width: 63%;
  }
  .main.withEvent {
    width: 56.5%;
  }
  nav {
    margin-left: 5.95em;
  }
  .navigation .type.row {
    left: 41em;
    top: 5em;
    bottom: inherit;
  }
  .navigation .header {
    left: 60em;
    top: 5em;
    bottom: inherit;
  }
  .sidebar {
    margin-right: 9em;
  }
  .event {
    margin-right: 7.7em;
    width: 27%;
  }
}
