{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block header %}
    {% include "_nav.html.twig" %}
{% endblock %}

{% block body %}

<div class="signup_container">
    <h1 class="display-4 text-center mb-3">Créer un compte</h1>

    <div class="">

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-warning btn-lg d-flex m-auto">{{ button_label|default('Valider') }}</button>
        {{ form_end(form) }}

    </div>

    <div class="mt-5 float-right"><span class="text-muted">* champs obligatoires</span></div>
</div>
{% endblock %}
