{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block header %}
    {% include "_nav.html.twig" %}
{% endblock %}

{% block body %}

<div class="signup_container">
    <h1 class="display-4 text-center">Créer un compte</h1>

    <div class="">

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Valider') }}</button>
        {{ form_end(form) }}

    </div>

    <p><span class="muted">Les champs accompagnés d'une * sont obligatoires</span></p>
</div>
{% endblock %}
