{% extends 'base.html.twig' %}

{% block title %}Ajout d'un commentaire{% endblock %}

{% block body %}

    <h2>Ajoutez un commentaire</h2>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('event') }}"><p>Retour à la liste des événements</p></a>

{% endblock %}
